body {
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

html {
    background: url(../img/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
}


.navbar {
    min-height: 57px;
}

.bg {
    background-color: #2F3336 !important;
}

.add_account {
    list-style: none;
    font-size: 10px;
    padding-top: 10px;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3336;
    color: white;
    text-align: center;
}

.footer a:link{
    text-decoration: none;
    color: white;
}

.footer a:visited{
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}

.footer a:active {
    text-decoration: underline;
    color: white;

}

.content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1E2225;
}
.contentInside{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.addUserForm
{
    display: block;
    text-align: center;
    height: 100vh;
    background-color: #1E2225;
}

.addUser {
   display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
}

.addUser a:link{
    text-decoration: none;
    color: white;
}

.addUser a:visited {
    text-decoration: none;
    color: white;
}

.addUser a:hover{
    text-decoration: underline;
    color: white;
}
.addUser a:active{
    text-decoration: underline;
    color: white;
}

.removeForm {
    text-decoration: underline;
    color: white;
    position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
}